
/*Card principal - imagem e informações do Pokemon*/
.cardPoke {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 20px;
    z-index: 1;

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    
    background-color: rgb(255, 255, 255);
}

.image {
    padding: 10px;
    img {
        position: relative;
        z-index: 2;
        display: flex;
        width: 300px;

        animation: float 3s ease-in-out infinite;

        @keyframes float {
            0% {
                transform: scale(0.8);
            } 
            50% {
                transform: scale(1);
            }
            100% {
                transform: scale(0.8);
            }
        }
    }
}

.tittleCard {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 30px;
    border-radius: 20px;

    margin-top: 10px;
    background-color: rgb(241, 102, 102);
    
    h1 {
        color: white;
        font-size: 17px;
    }
}

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px;
    margin-bottom: 40px;

    p {
        text-align: center;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 14px;
    }
}